@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary: #239bd6;
    --secondary: #F8AD47;
    --accent: #98C931;
    --white: #ffffffe8;
    --yellow: #FFBB3B;
}

/* Fonts  */
body {
    background-color: white;
    color: black;
    font-family: "Poppins", sans-serif;
}

.singleImage {
    /* background-image: url('/single-bg.png'); */
    border-radius: 10px;
    /* position: absolute; */
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    padding-bottom: 50px;
    /* z-index: 0; */

}

.poppins {
    font-family: "Poppins", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--white);
    outline-color: var(--primary);
    border: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary);
    color: var(--white);
}

.divider {
    background-color: #DCDBDD;
    height: 1px;
    width: 100%;
}

::-webkit-scrollbar {
    width: 1px;
    height: 6px;
    background-color: transparent;
}

/* Scrollbar height */
::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    height: 5px;
}

.btn-secondary {
    background-color: var(--accent);
    border: none;
}

.btn-secondary:hover {
    background-color: var(--accent);
    border: none;
}

.btn-yellow {
    background-color: var(--yellow);
    border: none;
    color: white;
}

.btn-yellow:hover {
    background-color: var(--yellow);
    border: none;
}

:where(.css-dev-only-do-not-override-1okl62o).ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--primary) !important;
    border: var(--primary) !important;
    /* color: #15acde40; */
}

.enroll .MuiInputBase-root {
    height: 30px;
    font-size: 11px !important;
    width: 80px;
    border: #187A82 1px solid !important;
    outline: none !important;
}

.enroll .MuiSvgIcon-root {
    width: 14px !important;
    height: 14px !important;
    color: #187A82 !important;
}

.enroll4 .MuiInputBase-root {
    height: 40px;
    font-size: 11px !important;
    width: 118px;
    border: #F8AD47 1px solid !important;
    outline: none !important;
}

.enroll4 .MuiSvgIcon-root {
    width: 14px !important;
    height: 14px !important;
    color: #187A82 !important;
}
.enroll4 .MuiInputBase-root {
    border: none !important;
}

.enroll2 .MuiInputBase-root {
    height: 40px;
    font-size: 14px !important;
    width: 100%;
    border: #187A82 1px solid !important;
    outline: none !important;
}

.enroll2 .MuiSvgIcon-root {
    width: 16px !important;
    height: 16px !important;
    color: #187A82 !important;
}



.btn-sm {
    min-width: 90px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    gap: 10px;
}

.messageCard {
    background: var(--Gray-1, #E3EBF1);
}

.absolute.bg-white {
    background-color: #FFBB3B !important;
    color: white !important;
}

.profile-history {
    right: 0px !important;
}

.my-table tr td {
    font-weight: 500 !important;
    font-size: 11px;
}

.profile .border-none {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.peer {
    color: black;
    border: 1px solid black;
}

.peer:checked {
    color: black;
    border: none;
}

.add-form .ant-checkbox-checked .ant-checkbox-inner {
    background-color: red !important;
}

.enroll .MuiInputBase-root {
    border: none !important;
    outline: none !important;
}


.enroll2 .MuiInputBase-root {
    border: none !important;
}

select {
    background-color: white;
}

input {
    background-color: white;
    color: black;
    font-weight: 500;
}

.peer {
    border: 1px solid rgba(0, 0, 0, 0.338);
}

.box {
    cursor: pointer;
}

.box .overlay {
    display: none;
}

.box:hover .overlay {
    display: flex;
}

.date-picker-ant {
    width: 0px !important;
    border: none !important;
    outline: none !important;
}

.statistic .ant-picker-input {
    display: none !important;
    width: 0px !important;
}

.ant-pagination-item-active a {
    color: var(--tw-text-opacity) !important;
}
.ant-pagination-item-active {
    border-color: var(--tw-text-opacity) !important;
}

.ant-table-cell {
    padding-left: 30px !important; /* Adjust this value as needed */
}

.card-0 .ant-card-body {
    padding: 0px !important;
}

:where(.css-dev-only-do-not-override-18i7g3).ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-18i7g3).ant-menu-light .ant-menu-submenu-title:hover {
    color: currentColor !important;
}

:where(.css-dev-only-do-not-override-18i7g3).ant-menu-light .ant-menu-item, :where(.css-dev-only-do-not-override-18i7g3).ant-menu-light>.ant-menu .ant-menu-item, :where(.css-dev-only-do-not-override-18i7g3).ant-menu-light .ant-menu-submenu-title, :where(.css-dev-only-do-not-override-18i7g3).ant-menu-light>.ant-menu .ant-menu-submenu-title {
    color: currentColor !important;
}

.active .ant-menu-title-content {
    color: black !important;
}


.disabled{
    color: rgba(128, 128, 128, 0.765) !important;
}

.css-1u0lry5-MuiChartsLegend-root {
    display: none !important;
}